[Desktop Entry]
Name=Start Terminal Session
Comment=Launch Gnome Terminal Env
Icon=terminal
Categories=Utility;
Type=Application
Hidden=false
Terminal=false
Version=1.0
X-GNOME-Autostart-enabled=false
Exec=/home/bryan/bin/start-term.sh
